<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= item.weight %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= item.length %>
  </p>

  <p>
    <strong>Storage detail:</strong>
    <%= item.storage_detail %>
  </p>

</div>
